{% extends 'advertiser_management/base.html' %}

{% block title %}report{% endblock %}

{% block content %}
    <div class="container">
        {% for ad, clickSums in actions.items %}
            {{ ad.title }}:
            <table class="table table-hover">
                <thead>
                <tr class="table-active">
                    <th scope="col" style="width: 25%">Start Time</th>
                    <th scope="col" style="width: 25%">End Time</th>
                    <th scope="col" style="width: 16.6%">Clicks</th>
                    <th scope="col" style="width: 16.6%">Views</th>
                    <th scope="col" style="width: 16.7%">Views</th>
                </tr>
                </thead>
                <tbody>
                {% for k, v in clickSums.items %}
                    {% if k == "action" %}
                        {% for x in v %}
                            <tr>
                                <td>{{ x.0 }}</td>
                                <td>{{ x.1.0 }}</td>
                                <td>{{ x.1.1 }}</td>
                                <td>{{ x.1.2 }}</td>
                                <td>{{ x.1.3|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    {% elif k == "cpv" %}
                        {{ v }}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        <table class="table table-hover">
            <thead>
            <tr class="table-active">
                <th scope="col" style="width: 50%">Ad</th>
                <th scope="col" style="width: 50%">Average</th>
            </tr>
            </thead>
            <tbody>
            {% for k, v in avg.items %}

                <tr>
                    <td>{{ k.title }}</td>
                    {% if v != -1 %}
                        <td>{{ v|floatformat:2 }}</td>
                    {% else %}
                        <td>No Clicks!</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
