{% extends 'advertiser_management/base.html' %}

{% block title %}{{ ad.title }}{% endblock %}

{% block content %}
    <div class="container">
        {% for ad, clickSums in actions.items %}
            {{ ad.title }}:
            <table class="table table-hover">
                <thead>
                <tr class="table-active">
                    <th scope="col" style="width: 25%">Start Time</th>
                    <th scope="col" style="width: 25%">End Time</th>
                    <th scope="col" style="width: 25%">Clicks</th>
                    <th scope="col" style="width: 25%">Views</th>
                </tr>
                </thead>
                <tbody>
                {% for k, v in clickSums.items %}
                    <tr>
                        <td>{{ v.0 }}</td>
                        <td>{{ k }}</td>
                        <td>{{ v.1 }}</td>
                        <td>{{ v.2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}
